{{define "content"}}{{- /*gotype:github.com/mdhender/watchlist.ShowsPayload*/ -}}
{{template "search-shows" .Search}}
{{template "table-shows" .Shows}}
<footer>
    <a href="/shows/new">Add Show</a>
</footer>
{{end}}